# Restore database

### Restore full backup

In [11]:
USE master
GO
DROP DATABASE TestBackupDB;

: Msg 3701, Level 11, State 1, Line 3
Cannot drop the database 'TestBackupDB', because it does not exist or you do not have permission.

In [12]:
RESTORE DATABASE TestBackupDB  
   FROM DISK = '/var/opt/mssql/backups/TestBackupDB.bak'
   WITH NORECOVERY;

### Restore differential backup

In [13]:
RESTORE DATABASE TestBackupDB  
   FROM DISK = '/var/opt/mssql/backups/TestBackupDB_diff1.bak'
   WITH NORECOVERY;

### Restore log backup

In [14]:
RESTORE LOG TestBackupDB  
   FROM DISK = '/var/opt/mssql/backups/TestBackupDB_log1.bak'
   WITH RECOVERY;

### Test Database

In [15]:
USE TestBackupDB;
GO
SELECT * FROM Books;

id,name
1,Introducci√≥n a la IA
2,Introducci√≥n a base de datos
3,Introducci√≥n a deep learning