# Data Definition Language

## Tipos de datos
### Exact numerics
* bigint
* numeric
* bit
* smallint
* decimal (se tiene que especificar número de decimales)
* int
* money
* smallmoney

### Approximante numerics
* float
* real

### Character strings
* char
* varchar
* text

### Unicode strings
* nchar
* nvarchar
* ntext

### Date and time
* date
* datetimeoffset
* datetime
* smalldatetime
* datetime2
* time

### Binary string
* binary
* varbinary
* image

## Proyección SELECT




## Operadores condicionales

## Conversión de datos

In [7]:
CREATE DATABASE test1;
GO

USE test1;
GO

DECLARE @my_not_string INT;
-- Este es estandar de SQL
SET @my_not_string = CONVERT(INT, '10');

-- Este es exclusivo de SQL Server, pero tiene mas soporte para conversiones entre distintos tipos
SET @my_not_string = CAST('10' AS INT);

SELECT @my_not_string + 1;

(No column name)
11